#Container
{
    background: lightgray;
    min-width: 550px;
    min-height: 650px;
    margin: 2%;
    border: dashed 3px black;
}


#Panel
{
    margin: 1%;
    background: darkolivegreen;
    height: 55px;
}

#Gra
{
    margin-top: 2%;
    float:left;
    background-color: darkslategray;
    width: 50%;
    min-height: 500px;
    margin-left: 2%;
    height: 530px;
    border-left: 0px;
}

#Przyciski
{
    margin-top: 2%;
    float:left;
    background-color: darkgreen;
    min-height: 500px;
    width: 15%;
    margin-left: 3%;
}

#infos
{}
#INFO
{
    margin-top: 2%;
    float:left;
    min-height: 500px;
    width: auto;
    min-width: 25%;
    background-color: midnightblue;
    margin-left: 3%;
    color: cornsilk;
    text-align: center;
    font-size: 18px;
    max-height: 500px;
    overflow:hidden;
}
#PoleGry
{
    background-color: slategray;
    margin: 5%;
    min-height: 400px;
   padding: 2px;
    height: 458px;
}

h1{
    text-align: center;
    font-size: 35px;
    padding: 35px;
}

#Pytanie
{
    min-height: 100px;
    margin-top: 15px;
background-color: silver;
}

#radiobatony
{
    min-height: 240px;
    background-color: lightseagreen;
    font-size: 20px;
    font-weight: bold;
}

#sprawdz
{
    min-height: 60px;
    background-color: grey;
}

.radio
{
    color: red;
    font-size: 50px;
    margin: 11px;
}

.button
{
    height: 45px;
    width: 44%;
    margin-top: 10px;
    margin-left: 20px;
}

h2{

}

#counter
{
    float: right;
    font-size: 40px;
    text-align: left;
    margin-right: 2%;
    color: orangered;
    text-shadow: 0 0 2px #000000;
}

#restart
{
    margin-top: 40px;
    width: 70%;
    padding: 10px;
    margin-left: 15%;

    align:center;
}


#jezyk
{
    margin-left: 15%;
    margin-top: 40px;
    width: 70%;
    padding: 10px;

    align:center;
}

#nazwa
{
    float: left;
    color: greenyellow;
    font-size: 38px;
    margin-left: 18px;
}

#nazwa:active
{
    color: red;
}

#MENU {

    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
    }

.menusio {

    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

ul
{
    text-align: center;
    background-color: orangered;
    border: solid 3px red;
    display: none;
    margin-left: -20px;
    z-index: 100;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -4px;
}

ul > li
{
    margin-left: -10px;
    margin-top: 10px;
    padding: 1px;
    border: solid 1px blue;
    list-style-type: none;
}

ul >li:hover
{
    margin-left: -20px;
    background-color: silver;
}

#MENU:hover > ul
{
    display: inline-block;
    height: 110px;
    width: 180px;
}

#opcja1:active
{

}

#STATUS
{
    float: left;
    color:darkred;
    margin-left: 150px;
    font-size: 40px;
    text-shadow: 0 0 2px #fff;
    width: 200px;
}

#PoleGry2
{
    background-color: slategray;
    margin: 5%;
    min-height: 400px;
    padding: 2px;
    display: none;
    height: 458px;
}

#kol1
{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    background-color: darkred;
    height: 90%;
    width: 30%;
    border: solid 3px black;
}
#kol2
{
    margin-top: 10px;
    margin-left: 10px;
    width: 30%;
    height: 90%;
    float: left;
    background-color: orange;
    border: solid 3px black;
}

.kolumna1
{
    height: 6%;
    background-color: blue;
    border-bottom: dashed 1px black;
    text-align: center;
}

.kolumna2
{
    height: 6%;
    background-color: orange;
    border-bottom: dashed 1px black;
    text-align: center;
}

.kolumna1:hover
{
    background-color: cornflowerblue;
}

.kolumna2:hover
{
    background-color: yellow;
}
